.main-Nav {
    padding: 15px;
    height: 51px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    @media(max-width: 768px) {
        flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        font-size: 14px;
        line-height: 51px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        border-bottom: 3px solid transparent;

        &:not(:last-child) {
            margin-right: 46px;

        }

        &:hover {
            border-bottom: 3px solid #EF5B70;
        }

        @media(max-width: 991px) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
